**/.terraform/*
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
id_rsa.pub
id_rsa
kubeconfig.yaml
kubeconfig.yml
.terraform.lock
.terraform.tfstate.lock.info
*.log
.terraform.lock.hcl
runner-manifest.yaml
do_kubeconfig.yaml
thanosconfig.yaml
_thanos-objstorage-1.yaml
_thanos-objstorage-2.yaml
_thanos-objstore-secret-1.yaml
_thanos-objstore-secret-2.yaml